/* 
    Changes
    font-size : 15px -> 1rem
    font -size: 12px ->  0.8rem
*/

.daterangepicker {
	font-size: 1rem !important;
	font-family: inherit !important;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
	font-size: 0.8rem !important;
}

.daterangepicker td:not(.off).active,
.daterangepicker td:not(.off).active:hover {
	background-color: var(--primary);
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
	font-size: 0.8rem !important;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
	font-size: 0.8rem !important;
}

.daterangepicker .drp-selected {
	font-size: 0.8rem !important;
}

.daterangepicker .drp-buttons .btn {
	font-size: 0.8rem !important;
}

.daterangepicker .ranges li {
	font-size: 0.8rem !important;
}

.daterangepicker .ranges li.active {
	background-color: var(--primary) !important;
}