.bg-gradient {
	background-image: -moz-linear-gradient(90deg, rgba(2, 108, 146, .8) 0, rgba(32, 168, 216, .8) 100%);
	background-image: -webkit-linear-gradient(90deg, rgba(2, 108, 146, .8) 0, rgba(32, 168, 216, .8) 100%);
	background-image: -ms-linear-gradient(90deg, rgba(2, 108, 146, .8) 0, rgba(32, 168, 216, .8) 100%);
	background-image: linear-gradient(90deg, rgba(2, 108, 146, .8) 0, rgba(32, 168, 216, .8) 100%)
}